body {
   margin:0;
   padding:0;
}

.jumbotron {
  align-items: center;
  display: flex;
  background-image: url('https://static.pexels.com/photos/392018/pexels-photo-392018.jpeg');
  background-size: cover;
  background-color: #898888;
  height: 50vh; /* Add this */
  color: white;
}